<h1>LOGIN, CAPTAIN!</h1>

<% if @message %>
  <h2><%= @message %></h2>
<% end %>
<form method="POST" action="/sessions">
  <input placeholder="LOGIN" name="username" />
  <input placeholder="PASSWORD" name="password" />
  <input type="submit" value="ENGAGE" />
</form>
